:root {
    --color-black: #000;
    --color-white: #fff;
    --color-black-dull: rgba(0, 0, 0, 0.7);

    --font-color: #359756;
    --font-color2: #111111;
    --font-color3: #555c66;
    --font-color4:   #aeaeae;
    --font-color-ancer: #313942;
    --font-color-ancerH: #359756;

    --scroll-bgcolor: #359756;
    --scroll-color: #e8e8e9;

    --bgcolor: #eef2f6;
    --bgcolor2: #e5e5e5;
    --bgcolor3: #f2f2f2;
    --bgcolor4: #baefcc;
    --bgcolor5: #8ae4a8;
    --bgcolor6: #f1c50e;
    --bgcolor7: #f5d654;
    --bgcolor8: #1a7037;
    --bgcolor9: #f9fafa;
    --bgcolor-button: #fa9a40;
    --bgcolor-button2: #d9d9d9;
    --bgcolor-buttonH: #f18110;
    --bgcolor-buttonH2: #1a1a1a;
    --bgcolor-buttonH3: #30884d;
    --bgcolor-buttonH4: #edfbf2;
    --bgcolor-buttonH5: #405261;

    --border-color: #eceff3;
    --border-color2: #7a8de9;
    --border-color3: #40526180;

    --font-family-montserrat: "Montserrat", sans-serif;
    --font-family-open: "Open Sans", sans-serif;
}