:root {
    --color-black: #000;
    --color-white: #fff;

    --scroll-bgcolor: #3498db;
    --scroll-color: #f5f5f5;

    --font-family-montserrat: "Montserrat", sans-serif;
    --font-family-open: "Open Sans", sans-serif;
}